@import 'variables.scss';
@font-face {
  font-family: 'proxima_novabold';
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-bold-webfont.woff') format('woff'),
  url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
  url('../fonts/proximanova-bold-webfont.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_extrabld';
  src: url('../fonts/ProximaNova-Extrabld.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_semibold';
  src: url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_regular';
  src: url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

a  {
  text-decoration: none;
}

/****************HEADER*****************/

.header {
  max-width: 1100px;
  height: 64px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: $cfont4;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  display: block;
  float: left;
  max-width: 184px;
  margin: 19px 10px;
}
.header_right_flow {
  display: flex;
  justify-content: space-between;
}
.header-menu {
  display: block;
  width: 435px;
  height: 54px;
}
.header-menu-item {
  display: block;
  height: 44px;
  float: left;
  padding-top: 18px;
  text-decoration: none;
  margin: 0 2%;
  font: 600 16px  'proxima_regular', sans-serif;
  color: $cfont5;
}

      .header-menu-item:hover {
        border-bottom: 2px solid $cfont2;
      }
  .header-authent {
    display: block;
    margin-left: 4.3%;
    width: 100px;
  }
    .header-authent img{
      max-width: 12px;
      float: left;
      margin-top: 1.25em;
      margin-right: 5px;
    }
    .header-menu-item-authent {
      display: block;
      height: 44px;
      float: left;
      padding-top: 18px;
      text-decoration: none;
      margin: 0 3%;
      font: 600 16px  'proxima_regular', sans-serif;
      color: $cfont5;
    }

/*****************BANNER*****************/
.module-banner {
  max-width: 100%;
  height: 513px;
  background-color: $cfon11;
  position: relative;
  overflow: hidden;
  }

  .module-banner-age {
    width: 38.25%;
    height: 82px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 7vw;
    border-radius: 0 3px 3px 0;
    background-color: $cfont5;
    z-index: 2;
   }

  .module-banner-age-text {
    position: absolute;
    z-index: 2;
    padding: 0.4em 3vw 0.4em 5px;
  }
    .module-banner-age-text h1{
      margin-top: 19px;
      color: $cfont4;
      font-family: Intro, sans-serif;
      font-size: 2.2em;
      line-height: 1em;
      text-transform: uppercase;
    }
  .module-banner-container {
    max-width: 1100px;
    margin: 0 auto;
    z-index: 2;
    padding-top: 8vw;
  }
    .module-banner-description-text {
      width: 36%;
      height: 5.125vw;
      position: relative;
      display: flex;
      justify-content: flex-end;
      z-index: 2;
      font: 600 16px  'proxima_regular', sans-serif;
      text-align: left;
      line-height: 1.7;
      color: $cfont5;
    }

  .baner-indicator {
    width: 35%;
    height: 45px;
    position: relative;
    top: 3vw;
  }
    .banner-indicator-lightbox {
      width: 100%;
      height: 15px;
      border: 2px solid $cfon6;
      border-radius: 3px;
    }
      .banner-indicator-lightbox-done {
        width: 45.3%;
        float: right;
        height: 17px;
        border-radius: 0 3px 3px 0;
        background-color: $cfon6;
      }
    .banner-indicator-text {
      width: 29.25%;
      height: 45px;
      margin-top: 3px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
      .banner-indicator-all-number {
        text-align: left;
        font: 600 2.4em  'proxima_regular', sans-serif;
        line-height: 1.1em;
        color: $cfont5;
        padding-right: 9px;
      }
      .banner-indicator-all-text {
        text-align: left;
        font: 600 14px  'proxima_regular', sans-serif;
        line-height: 1.1em;
        color: $cfont5;
        padding-right: 100%;
        padding-top: 5px;
        margin-right: 20px;
      }
    .banner-indicator-done-number {
      text-align: left;
      font: 600 2.4em 'proxima_regular', sans-serif;
      line-height: 1.1em;
      color: $cfont5;
      padding-right: 9px;
      }
      .banner-indicator-done-text {
        font: 600 14px  'proxima_regular', sans-serif;
        line-height: 1.1em;
        color: $cfont5;
        padding-top: 5px;
      }
.banner-actualthemename {
  width: 29%;
  top: 6vw;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
    .banner-actualthemename-text {
      text-align: left;
      font: 600 1.5vw  'proxima_regular', sans-serif;
      color: $cfont4;
    }

.module-banner-img {
      max-width: 100%;
      float: right;
      position: absolute;
      bottom: 0;
      right: 5%;
    }

/*************breadcrumbs*********/
.breadcrumbs {
  padding: 16px 8px;
  height: 20px;
  background-color: $cfon7;
}
  .breadcrumbs-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
   }
  .breadcrumbs a {
    text-decoration: none;
    z-index: 3;
    font: 600 16px  'proxima_regular', sans-serif;
    color: $cfont6;
    padding-right: 8px;
  }
  .breadcrumbs-haighthen1 {
    padding-right: 8px;
  }
  .breadcrumbs-list {
    color: $cfont7;
      }
  .breadcrumbs-list a{
    color: $cfont7;
      }

.breadcrumbs2-coursestheme-haighthen {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 11;
  grid-row-end: 12;
  text-align: left;
  font: 700 16px  'proxima_regular', sans-serif;
  text-decoration: none;
  color: $cfont7;
  line-height: 1;
  padding-top: 2vw;
}
/**************CONTENT*************/
/***********module target**********/

.breadcrumbs2-theme {
  text-align: left;
  font: 600 1.9em  'proxima_regular', sans-serif;
  text-decoration: none;
  color: $cfont7;
  line-height: 1;
  padding-top: 0.9em;
  margin-left: 5px;

}
.breadcrumbs2-line {
  text-align: left;
  line-height: 1;
  padding-top: 1.9em;
}
.breadcrumbs2-arrow {
  text-align: left;
  line-height: 1;
  padding-top: 2em;
}

/***********module targets****************/
.targets-container {
  max-width: 1100px;
  margin: 0 auto;

  }
.target {
  border-bottom: 1px solid $cfon5;
  display: flex;
  justify-content: space-between;
}
  .target:last-child {
    border-bottom: none;
      }
  .target_left_flow_block {
    display: flex;
    justify-content: flex-start;
  }
  .module_targets_number_block {
    padding: 8px;
    display: flex;
    align-items: center;

  }
    .module-turgets-number  {
      display: block;
      font: 600 1em  'proxima_regular', sans-serif;
      color: $cfont7;
      line-height: 1;
      width: 1em;
      height: 1em;
      background-color: $cfon6;
      text-align: center;
      padding: 0.2em 0;
      vertical-align: middle;
    }
  .module_turgets_text_block {
    padding: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }
    .module-turgets-text {
      font: 600 1em  'proxima_regular', sans-serif;
      color: $cfont7;
      line-height: 1.2;
      text-align: left;
      padding: 0.8em 0.5em;

    }
   .module_turgets_checkbox_block {
     display: flex;
     align-items: center;
   }
    .module-turgets-checkbox label input {
      display: none;
    }
     label span {
       height: 14px;
       width: 14px;
      border: 1px solid #979FAD;
      display: inline-block;
      position: relative;
      background-color:$cfont8;
      border-radius:1px;
      margin:3px;
    }
    .module-turgets-checkbox [type=checkbox]:checked + span:before {
      height: 14px;
      width: 14px;
      content: '\2714';
      position: absolute;
      top: 0;
      left: 0;
      font-size:23px;
      line-height: 9px;
      color:$cfont4;
      background-color:$cfon3;
      border: 1px solid $cfon3;
    }

/**************************moduleicons***********************/
.targets_buttons_container {
  display: flex;
  justify-content: space-between;
  /*align-items: flex-start;*/
}
.moduleicone1 {
  width: 60px;
  position: relative;
  top: -50px;
  right: 10%;

}
  .moduleicone-button {
     display: flex;
      justify-content: center;
    align-items: center;
     width: 56px;
     height: 56px;
     margin-bottom: 7px;
     background: $cfont4;
     border: 1px solid $cfon12;
     box-sizing: border-box;
     box-shadow: 4px 4px 15px $cfon8;
     border-radius: 3px;
   }
    .moduleicone-button:first-child {
      background: $cfon3;
    }
    .moduleicone-button img {
      display: block;
    }
/*****************checklist***********/

.checklist-background {
  z-index: 0;
  background-color: $cfon7;
}


.checklist-container {
  max-width: 1100px;
  margin: -80px auto 20px auto;
  display: flex;
  justify-content: space-between;
}
.breadcrumbs2-theme {
  text-align: left;
  font: 600 1.9em  'proxima_regular', sans-serif;
  text-decoration: none;
  color: $cfont7;
  line-height: 1;
  padding-top: 0.9em;
  margin-left: 5px;

}
.breadcrumbs2-line {
  text-align: left;
  line-height: 1;
  padding-top: 1.9em;
}
.breadcrumbs2-arrow {
  text-align: left;
  line-height: 1;
  padding-top: 2em;
}

.workout-cointainer {
  max-width: 1100px;
  margin: 0 auto;
}
/**************workout items*****************/
.workout-item1 {
  background: #FFFFFF;
  border: 1.5px solid $cfon10;
  box-sizing: border-box;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  margin-bottom: 10px;
}
  .workout-item-number {
    position: relative;
    width: 2vw;
    height: 1.8vw;
    text-align: center;
    padding-top: 0.5vw;
    font: 600 1vw  'proxima_regular', sans-serif;
    background-color: $cfon10;
    color: $cfont4;
    line-height: 1;
    z-index: 3;
  }
  .workout-item-icon {
    position: relative;
    width: 4.81vw;
    height: 4.81vw;
    text-align: center;
    padding: 1.375vw 0 0 1.575vw;
    font: 600 1vw  'proxima_regular', sans-serif;
    color: $cfont4;
    line-height: 1;
    z-index: 3;
  }
    .workout-item-1stline {
      position: relative;
      display: flex;
      justify-content: flex-start;
          }
      .workout-item-1stline-kindimg {
        position: relative;
        top: -7vw;
        left: 10vw;
        padding-right: 6px;
       }
          .workout-item-1stline-glases-kindtxt {
            position: relative;
            top: -7vw;
            left: 10vw;
            padding-right: 18px;
            font: 600 1vw  'proxima_regular', sans-serif;
            color: $cfont6;
          }
          .workout-item-1stline-timeimg {
            position: relative;
            top: -7vw;
            left: 10vw;
            padding-right: 6px;
          }
          .workout-item-1stline-timetxt {
            position: relative;
            top: -7vw;
            left: 10vw;
            padding-right: 8px;
            font: 600 1vw  'proxima_regular', sans-serif;
            color: $cfont6;
          }
  .workout-item-2ndline {
    position: relative;
    top: -5vw;
    left: 10vw;
    font: 600 1.5vw  'proxima_regular', sans-serif;
    color: $cfont5;
    display: flex;
    justify-content: flex-start;
}
    .workout-item-2ndline-txt {
      padding-right: 22%;
    }
    .workout-item-2ndline-img {
      width: 53px;
      height: 29px;
      border-radius: 14.5px;
      background-color: $cfon13;
    }
      .workout-item-2ndline-img_radio {
        width: 21px;
        height: 21px;
        background: $cfont4;
        border-radius: 50%;
        box-shadow: 0px 2px 2px $cfon14, 0px 0px 2px $cfon15;
        position: absolute;
        top: 2px;
      }
  .workout-item-3rdline {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }
    .workout-item-3rdline-viewimg {
      position: relative;
      top: -3.5vw;
      left: 10vw;
      padding-right: 6px;
        }
    .workout-item-3rdline-viewtxt {
      position: relative;
      top: -3.5vw;
      left: 10vw;
      padding-right: 18px;
      font: 600 1vw  'proxima_regular', sans-serif;
      color: $cfon10;
    }
        .workout-item-3rdline-viewtxt a {
          font: 600 1vw  'proxima_regular', sans-serif;
          color: $cfon10;
        }
    .workout-item-3rdline-remindimg {
      position: relative;
      top: -3.5vw;
      left: 10vw;
      padding-right: 6px;
    }
      .workout-item-3rdline-remindtxt {
         position: relative;
         top: -3.5vw;
         left: 10vw;
         padding-right: 8px;
         font: 600 1vw  'proxima_regular', sans-serif;
         color: $cfont9;
       }
          .workout-item-3rdline-remindtxt a {
            font: 600 1vw  'proxima_regular', sans-serif;
            color: $cfont9;
          }

/*************FOOTER MENU**************/
.footermenu {
  margin-top: 76px;
  background-color: $cfon3;
  padding: 2.5em 0;
}
.footermenu-blocks {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footermenu-block {
  margin-right: 10px;
}
.footermenu-block-header{
  font: 600 24px  'proxima_regular', sans-serif;
  color: $cfont4;
}
.footermenu-block-underline {
  font: 600 20px  'proxima_regular', sans-serif;
  color: $cfont4;
}
.footermenu-block-menu ul li {
  list-style: none;
  font: 400 16px  'proxima_regular', sans-serif;
  color: $cfont4;
  line-height: 1.6;
  margin-left: -45px;
  padding: 5px;
}
.footermenu-block-menu ul li:hover {
  transform: translate(5px, 0);
}
.footermenu-block-menu ul li a {
  text-decoration: none;
  font: 400 16px  'proxima_regular', sans-serif;
  color: $cfont4;
  line-height: 1.6;
}

/*footer*/
.footer {
  display: block;
  width: 100%;
  height: 47px;
  background-color: $cfont5;
}



