@import 'variables.scss';
@font-face {
  font-family: 'proxima_novabold';
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-bold-webfont.woff') format('woff'),
  url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
  url('../fonts/proximanova-bold-webfont.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_extrabld';
  src: url('../fonts/ProximaNova-Extrabld.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_semibold';
  src: url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_regular';
  src: url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/****************GRID*****************/

.wrapper {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: 72px 8vw 5vw 8.6vw 2.75vw 1.2vw 5.4vw 2.9vw 2.8vw 3vw /*breadcrumbles*/9vw 5vw 5vw 8vw 5vw 9vw repeat(5, 11.625vw) 9vw repeat(3, 11.625vw) 9vw
  /*control block*/5.25vw 5vw;
  grid-auto-rows: 3fr;
}

/****************HEADER*****************/

.header-logo {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
  max-width: 12vw;
  margin: 1vw 0;
}

.header-menu-item1 {
  grid-column-start: 13;
  grid-column-end: 16;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-top: 1.1vw;
  margin-right: 1vw;
  text-decoration: none;
  font: 600 16px  'proxima_regular', sans-serif;
  line-height: 1.2;
  color: $cfont5;
  text-align: center;
  border-bottom: 2px solid $cfont2;
}
.header-menu-item2 {
  grid-column-start: 16;
  grid-column-end: 20;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-top: 1vw;
  margin-right: 1vw;
  text-decoration: none;
  text-align: left;
  line-height: 1.2;
  font: 600 16px  'proxima_regular', sans-serif;
  color: $cfont5;
}
.header-menu-item3 {
  grid-column-start: 20;
  grid-column-end: 24;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-top: 1vw;
  text-decoration: none;
  text-align: left;
  line-height: 1.2;
  font: 600 16px  'proxima_regular', sans-serif;
  color: $cfont5;
}


.header-authent {

  grid-column-start: 27;
  grid-column-end: 29;
  grid-row-start: 1;
  grid-row-end: 2;

  /*text-align: right;*/

}

    .header-authent img {
      max-width: 12px;
      padding-top: 1.2vw;
      float: left;
      margin-right: 1vw;
    }
    .header-authent a {
      display: block;
      text-decoration: none;
      font: 600 16px  'proxima_regular', sans-serif;
      color: $cfont5;
      padding-top: 1vw;
    }



/*****************BANNER*****************/
.module-banner {
  grid-column-start: 1;
  grid-column-end: 33;
  grid-row-start: 2;
  grid-row-end: 9;
  position: relative;
  max-width: 100%;


  }
  .module-banner img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;

  }


  .module-banner-age {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 4;
    border-radius: 0 3px 3px 0;
    background-color: $cfont5;
    z-index: 2;
  }


    .module-banner-age-text {
      grid-column-start: 4;
      grid-column-end: 13;
      grid-row-start: 3;
      grid-row-end: 4;
      border-radius: 0 3px 3px 0;
      background-color: $cfont5;
      z-index: 2;
    }
        .module-banner-age-text h1{
          margin-top: 1.2vw;
          color: $cfont4;
          font-family: Intro, sans-serif;
          font-size: 2.75vw;
          line-height: 1em;
          text-transform: uppercase;
          text-align: left;

        }


  .module-banner-description-text {
    grid-column-start: 4;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 5;
    z-index: 2;
    font: 600 1vw  'proxima_regular', sans-serif;
    text-align: left;
    line-height: 1.7vw;
    color: $cfont5;
    padding-top: 1.2vw;
  }

  .banner-indicator-lightbox {
    grid-column-start: 4;
    grid-column-end: 13;
    grid-row-start: 6;
    grid-row-end: 7;
    z-index: 2;
    height: 0.9375vw;
    border: 2px solid $cfon6;
    border-radius: 3px;
  }
    .banner-indicator-lightbox-done {
      grid-column-start: 8;
      grid-column-end: 13;
      grid-row-start: 6;
      grid-row-end: 7;
      height: 1.0625vw;
      border-radius: 0 3px 3px 0;
      background-color: $cfon6;
      z-index: 2;
    }

    .banner-indicator-all-number {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 7;
      grid-row-end: 8;
      margin-top: 0.31vw;
      font: 600 2.375vw  'proxima_regular', sans-serif;
      line-height: 1.1em;
      color: $cfont5;
      z-index: 2;
    }
        .banner-indicator-all-text {
          grid-column-start: 5;
          grid-column-end: 6;
          grid-row-start: 7;
          grid-row-end: 8;
          margin-top: 0.31vw;
          font: 600 0.875vw  'proxima_regular', sans-serif;
          line-height: 1.1em;
          color: $cfont5;
          padding-top: 5px;
          z-index: 2;
        }
    .banner-indicator-done-number {
      grid-column-start: 8;
      grid-column-end: 9;
      grid-row-start: 7;
      grid-row-end: 8;
      margin-top: 0.31vw;
      font: 600 2.375vw  'proxima_regular', sans-serif;
      line-height: 1.1em;
      color: $cfont5;
      z-index: 2;
      margin-left: -1vw;
    }
      .banner-indicator-done-text {
        grid-column-start: 9;
        grid-column-end: 10;
        grid-row-start: 7;
        grid-row-end: 8;
        margin-top: 0.31vw;
        font: 600 0.875vw  'proxima_regular', sans-serif;
        line-height: 1.1em;
        color: $cfont5;
        padding-top: 5px;
        z-index: 2;
        margin-left: -1.5vw;
      }

  .banner-actual-theme-name {
    grid-column-start: 4;
    grid-column-end: 13;
    grid-row-start: 9;
    grid-row-end: 10;
    text-align: left;
    font: 600 1.5vw  'proxima_regular', sans-serif;
    line-height: 1.7;
    color: $cfont4;
    z-index: 2;
  }



/**************CONTENT*************/

/*************bredcrumbles*********/

  .bredcrumbles-background {
    grid-column-start: 1;
    grid-column-end: 33;
    grid-row-start: 10;
    grid-row-end: 11;
    background-color: $cfon7;
    z-index: 1;
  }
    .bredcrumbles-main {
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 10;
      grid-row-end: 11;
      z-index: 2;
      margin-top: 0.875vw;
    }
      .bredcrumbles-main a{
        text-align: left;
        font: 600 16px  'proxima_regular', sans-serif;
        text-decoration: none;
        color: $cfont6;
        line-height: 1;
      }
    .bredcrumbles-haighthen1 {
      grid-column-start: 6;
      grid-column-end: 7;
      grid-row-start: 10;
      grid-row-end: 11;
      z-index: 2;
      padding-top: 0.8vw;
      text-align: left;
      font: 600 16px  'proxima_regular', sans-serif;
      color: $cfont6;
      line-height: 1;
    }
  .bredcrumbles-courses {
    grid-column-start: 7;
    grid-column-end: 14;
    grid-row-start: 10;
    grid-row-end: 11;
    z-index: 2;
    margin-top: 0.875vw;
  }
    .bredcrumbles-courses a{
      text-align: left;
      font: 600 16px  'proxima_regular', sans-serif;
      text-decoration: none;
      color: $cfont6;
      line-height: 1;
    }
  .bredcrumbles-haighthen2 {
    grid-column-start: 14;
    grid-column-end: 15;
    grid-row-start: 10;
    grid-row-end: 11;
    z-index: 2;
    padding-top: 0.8vw;
    text-align: left;
    font: 600 16px  'proxima_regular', sans-serif;
    color: $cfont6;
    line-height: 1;
  }

  .bredcrumbles-list {
    grid-column-start: 15;
    grid-column-end: 18;
    grid-row-start: 10;
    grid-row-end: 11;
    z-index: 2;
    margin-top: 0.875vw;
  }
    .bredcrumbles-list a{
      text-align: left;
      font: 600 16px  'proxima_regular', sans-serif;
      text-decoration: none;
      color: $cfont7;
      line-height: 1;
    }
    .bredcrumbles2-coursestheme-haighthen {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 11;
      grid-row-end: 12;
      text-align: left;
      font: 700 16px  'proxima_regular', sans-serif;
      text-decoration: none;
      color: $cfont7;
      line-height: 1;
      padding-top: 2vw;
    }

    .bredcrumbles2-theme {
      grid-column-start: 5;
      grid-column-end: 12;
      grid-row-start: 11;
      grid-row-end: 12;
      text-align: left;
      font: 600 2vw  'proxima_regular', sans-serif;
      text-decoration: none;
      color: $cfont7;
      line-height: 1;
      margin-left: -0.5vw;
      padding-top: 2vw;
    }
    .bredcrumbles2-line {
      grid-column-start: 5;
      grid-column-end: 31;
      grid-row-start: 11;
      grid-row-end: 12;
      text-align: left;
      line-height: 1;
      padding-top: 2vw;
    }
    .bredcrumbles2-arrow {
      grid-column-start: 29;
      grid-column-end: 31;
      grid-row-start: 11;
      grid-row-end: 12;
      text-align: left;
      line-height: 1;
      padding-top: 2vw;
    }


/*************************module targets***************/

  .module-turgets-number1  {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 12;
    grid-row-end: 13;
    font: 600 1vw  'proxima_regular', sans-serif;
    text-decoration: none;
    color: $cfont7;
    line-height: 1;
  }

  .module-turgets-text1 {
    grid-column-start: 7;
    grid-column-end: 20;
    grid-row-start: 12;
    grid-row-end: 13;
    font: 600 1vw  'proxima_regular', sans-serif;
    text-decoration: none;
    color: $cfont7;
    line-height: 1.2;
  }
  .module-turgets-checkbox1 {
    grid-column-start: 28;
    grid-column-end: 29;
    grid-row-start: 12;
    grid-row-end: 13;
  }



.module-turgets-number2  {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 13;
  grid-row-end: 14;
  font: 600 1vw  'proxima_regular', sans-serif;
  text-decoration: none;
  color: $cfont7;
  line-height: 1;
}

.module-turgets-text2 {
  grid-column-start: 7;
  grid-column-end: 20;
  grid-row-start: 13;
  grid-row-end: 14;
  font: 600 1vw  'proxima_regular', sans-serif;
  text-decoration: none;
  color: $cfont7;
  line-height: 1.2;
}
.module-turgets-checkbox2 {
  grid-column-start: 28;
  grid-column-end: 29;
  grid-row-start: 13;
  grid-row-end: 14;
}



.module-turgets-number3  {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 14;
  grid-row-end: 15;
  font: 600 1vw  'proxima_regular', sans-serif;
  text-decoration: none;
  color: $cfont7;
  line-height: 1;
}

.module-turgets-text3 {
  grid-column-start: 7;
  grid-column-end: 20;
  grid-row-start: 14;
  grid-row-end: 15;
  font: 600 1vw  'proxima_regular', sans-serif;
  text-decoration: none;
  color: $cfont7;
  line-height: 1.2;
}
.module-turgets-checkbox3 {
  grid-column-start: 28;
  grid-column-end: 29;
  grid-row-start: 14;
  grid-row-end: 15;
  }

.module-turgets-number4  {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 15;
  grid-row-end: 16;
  font: 600 1vw  'proxima_regular', sans-serif;
  text-decoration: none;
  color: $cfont7;
  line-height: 1;
}

.module-turgets-text4 {
  grid-column-start: 7;
  grid-column-end: 20;
  grid-row-start: 15;
  grid-row-end: 16;
  font: 600 1vw  'proxima_regular', sans-serif;
  text-decoration: none;
  color: $cfont7;
  line-height: 1.2;
}
.module-turgets-checkbox4 {
  grid-column-start: 28;
  grid-column-end: 29;
  grid-row-start: 15;
  grid-row-end: 16;
  }


/*********************************moduleicons**********************/
.moduleicone1 {
  grid-column-start:30;
  grid-column-end: 31;
  grid-row-start: 11;
  grid-row-end: 12;
  text-align: left;
  line-height: 1;
  padding-top: 2vw;
  z-index: 2;
}
  .moduleicone1 img {
    padding: 8px;
  }
    .moduleicone1 img:hover {
      background: $cfon8;
    }

/*********************************WORKOUT**********************/
/*********************************workout header**********************/

.workout-haighthen {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 16;
  grid-row-end: 17;
  text-align: left;
  font: 700 16px  'proxima_regular', sans-serif;
  text-decoration: none;
  color: $cfont7;
  line-height: 1;
  padding-top: 3vw;
  z-index: 1;
}

.workout-theme {
  grid-column-start: 5;
  grid-column-end: 12;
  grid-row-start: 16;
  grid-row-end: 17;
  text-align: left;
  font: 600 2vw  'proxima_regular', sans-serif;
  text-decoration: none;
  color: $cfont7;
  line-height: 1;
  margin-left: -0.5vw;
  padding-top: 3vw;
  z-index: 1;
}
.workout-line {
  grid-column-start: 9;
  grid-column-end: 25;
  grid-row-start: 16;
  grid-row-end: 17;
  text-align: left;
  line-height: 1;
  padding-top: 3vw;
  z-index: 1;
}
.workout-arrow {
  grid-column-start: 29;
  grid-column-end: 31;
  grid-row-start: 16;
  grid-row-end: 17;
  text-align: left;
  line-height: 1;
  padding-top: 3vw;
  z-index: 1;
}

/****************************worcout background***********************/
.workout-background {
  grid-column-start: 1;
  grid-column-end: 33;
  grid-row-start: 16;
  grid-row-end: 22;
  z-index: 0;
  background-color: $cfon7;
}

/*********************************workout items**********************/
.workout-item1 {
  grid-column-start: 4;
  grid-column-end: 31;
  grid-row-start: 17;
  grid-row-end: 18;
  background: #FFFFFF;
  border: 1.5px solid $cfon10;
  box-sizing: border-box;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  margin-bottom: 10px;
}
  .workout-item-number {
    position: relative;
    width: 2vw;
    height: 1.8vw;
    text-align: center;
    padding-top: 0.5vw;
    font: 600 1vw  'proxima_regular', sans-serif;
    background-color: $cfon10;
    color: $cfont4;
    line-height: 1;
    z-index: 3;
  }
  .workout-item-icon {
    position: relative;
    width: 4.81vw;
    height: 4.81vw;
    text-align: center;
    padding: 1.375vw 0 0 1.575vw;
    font: 600 1vw  'proxima_regular', sans-serif;
    color: $cfont4;
    line-height: 1;
    z-index: 3;
  }
  .workout-item-1stline {
    position: relative;
    display: flex;
    justify-content: flex-start;
    /*top: 2vw;
    padding-right: 8px;*/
  }
    .workout-item-1stline-kindimg {
      position: relative;
      top: -7vw;
      left: 10vw;
      padding-right: 6px;

    }
    .workout-item-1stline-glases-kindtxt {
      position: relative;
      top: -7vw;
      left: 10vw;
      padding-right: 18px;
      font: 600 1vw  'proxima_regular', sans-serif;
      color: $cfont6;
    }
    .workout-item-1stline-timeimg {
      position: relative;
      top: -7vw;
      left: 10vw;
      padding-right: 6px;

    }

    .workout-item-1stline-timetxt {
      position: relative;
      top: -7vw;
      left: 10vw;
      padding-right: 8px;
      font: 600 1vw  'proxima_regular', sans-serif;
      color: $cfont6;
    }



    .workout-item-2ndline {
      position: relative;
      top: -5vw;
      left: 10vw;
      font: 600 1.5vw  'proxima_regular', sans-serif;
      color: $cfont5;
      display: flex;
      justify-content: flex-start;

    }
    .workout-item-2ndline-txt {
      padding-right: 30vw;
    }

  .workout-item-3rdline {
    position: relative;
    display: flex;
    justify-content: flex-start;

  }
      .workout-item-3rdline-viewimg {
        position: relative;
        top: -3.5vw;
        left: 10vw;
        padding-right: 6px;

      }
      .workout-item-3rdline-viewtxt {
        position: relative;
        top: -3.5vw;
        left: 10vw;
        padding-right: 18px;
        font: 600 1vw  'proxima_regular', sans-serif;
        color: $cfon10;
      }
      .workout-item-3rdline-remindimg {
        position: relative;
        top: -3.5vw;
        left: 10vw;
        padding-right: 6px;

      }

      .workout-item-3rdline-remindtxt {
        position: relative;
        top: -3.5vw;
        left: 10vw;
        padding-right: 8px;
        font: 600 1vw  'proxima_regular', sans-serif;
        color: $cfont9;
      }

/*********************************workout item2**********************/
.workout-item2 {
  grid-column-start: 4;
  grid-column-end: 31;
  grid-row-start: 18;
  grid-row-end: 19;
  background: #FFFFFF;
  border: 1.5px solid $cfon10;
  box-sizing: border-box;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  margin-bottom: 10px;
}

/*********************************workout item3**********************/
.workout-item3 {
  grid-column-start: 4;
  grid-column-end: 31;
  grid-row-start: 19;
  grid-row-end: 20;
  background: #FFFFFF;
  border: 1.5px solid $cfon10;
  box-sizing: border-box;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  margin-bottom: 10px;
}

/*********************************workout item4**********************/
.workout-item4 {
  grid-column-start: 4;
  grid-column-end: 31;
  grid-row-start: 20;
  grid-row-end: 21;
  background: #FFFFFF;
  border: 1.5px solid $cfon10;
  box-sizing: border-box;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  margin-bottom: 10px;
}

/*********************************workout item5**********************/
.workout-item5 {
  grid-column-start: 4;
  grid-column-end: 31;
  grid-row-start: 21;
  grid-row-end: 22;
  background: #FFFFFF;
  border: 1.5px solid $cfon10;
  box-sizing: border-box;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
  border-radius: 3px;

}


/************CHECKPOINT*******************/
/***********checkpoint header************/

.checkpoint-haighthen {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 22;
  grid-row-end: 23;
  text-align: left;
  font: 700 16px  'proxima_regular', sans-serif;
  text-decoration: none;
  color: $cfont7;
  line-height: 1;
  padding-top: 3vw;
}

.checkpoint-theme {
  grid-column-start: 5;
  grid-column-end: 15;
  grid-row-start: 22;
  grid-row-end: 23;
  text-align: left;
  font: 600 2vw  'proxima_regular', sans-serif;
  text-decoration: none;
  color: $cfont7;
  line-height: 1;
  margin-left: -0.5vw;
  padding-top: 3vw;
}
.checkpoint-line {
  grid-column-start: 9;
  grid-column-end: 25;
  grid-row-start: 22;
  grid-row-end: 23;
  text-align: left;
  line-height: 1;
  padding-top: 3vw;
}
.checkpoint-arrow {
  grid-column-start: 29;
  grid-column-end: 31;
  grid-row-start: 22;
  grid-row-end: 23;
  text-align: left;
  line-height: 1;
  padding-top: 3vw;
}

/*********************************checkpoint item1**********************/
.checkpoint-item1 {
  grid-column-start: 4;
  grid-column-end: 31;
  grid-row-start: 23;
  grid-row-end: 24;
  background: #FFFFFF;
  border: 1.5px solid $cfon10;
  box-sizing: border-box;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
}
/*********************************checkpoint item2**********************/
.checkpoint-item2 {
  grid-column-start: 4;
  grid-column-end: 31;
  grid-row-start: 24;
  grid-row-end: 25;
  background: #FFFFFF;
  border: 1.5px solid $cfon10;
  box-sizing: border-box;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
}
/*********************************checkpoint item3**********************/
.checkpoint-item3 {
  grid-column-start: 4;
  grid-column-end: 31;
  grid-row-start: 25;
  grid-row-end: 26;
  background: #FFFFFF;
  border: 1.5px solid $cfon10;
  box-sizing: border-box;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
}

/*********************************CONTROL POINTS**********************/
.control-haighthen {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 26;
  grid-row-end: 27;
  text-align: left;
  font: 700 16px  'proxima_regular', sans-serif;
  text-decoration: none;
  color: $cfont7;
  line-height: 1;
  padding-top: 3vw;
  z-index: 2;
}

  .control-theme {
    grid-column-start: 5;
    grid-column-end: 15;
    grid-row-start: 26;
    grid-row-end: 27;
    text-align: left;
    font: 600 2vw  'proxima_regular', sans-serif;
    text-decoration: none;
    color: $cfont7;
    line-height: 1;
    margin-left: -0.5vw;
    padding-top: 3vw;
    z-index: 2;
  }
  .control-line {
    grid-column-start: 9;
    grid-column-end: 25;
    grid-row-start: 26;
    grid-row-end: 27;
    text-align: left;
    line-height: 1;
    padding-top: 3vw;
    z-index: 2;
  }
  .control-arrow {
    grid-column-start: 29;
    grid-column-end: 31;
    grid-row-start: 26;
    grid-row-end: 27;
    text-align: left;
    line-height: 1;
    padding-top: 3vw;
    z-index: 2;
  }

.control-background {
  grid-column-start: 1;
  grid-column-end: 33;
  grid-row-start: 26;
  grid-row-end: 29;
  background-color: $cfon7;
  z-index: 1;
}



.control-item-header {
  grid-column-start: 4;
  grid-column-end: 15;
  grid-row-start: 27;
  grid-row-end: 28;
  text-align: left;
  font: 600 24px  'proxima_regular', sans-serif;
  text-decoration: none;
  color: $font10;
}



  .control-item1-text1 {
    grid-column-start: 5;
    grid-column-end: 20;
    grid-row-start: 28;
    grid-row-end: 29;
    font: 600 1.5vw  'proxima_regular', sans-serif;
    color: $cfont7;
    line-height: 1.2;
    z-index: 4;
    padding: 1.5vw 0;
  }
    .control-item1-checkbox {
      grid-column-start: 28;
      grid-column-end: 29;
      grid-row-start: 28;
      grid-row-end: 29;
      z-index: 4;
      padding: 1vw 0;
    }
    .control-item1-background {
      grid-column-start: 5;
      grid-column-end: 29;
      grid-row-start: 28;
      grid-row-end: 29;
      z-index: 3;
      background-color: $cfont4;

    }

    .control-item1-text2 {
      grid-column-start: 5;
      grid-column-end: 20;
      grid-row-start: 28;
      grid-row-end: 29;
      font: 600 1.5vw  'proxima_regular', sans-serif;
      color: $cfont7;

      z-index: 4;
      padding: 1.5vw 0;
    }