@font-face {
  font-family: 'proxima_novabold';
  src: url("../fonts/proximanova-bold-webfont.eot");
  src: url("../fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-bold-webfont.woff2") format("woff2"), url("../fonts/proximanova-bold-webfont.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/proximanova-bold-webfont.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_extrabld';
  src: url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_semibold';
  src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_regular';
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
}

/****************HEADER*****************/
.header {
  max-width: 1100px;
  height: 64px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: block;
  float: left;
  max-width: 184px;
  margin: 19px 10px;
}

.header_right_flow {
  display: flex;
  justify-content: space-between;
}

.header-menu {
  display: block;
  width: 435px;
  height: 54px;
}

.header-menu-item {
  display: block;
  height: 44px;
  float: left;
  padding-top: 18px;
  text-decoration: none;
  margin: 0 2%;
  font: 600 16px  'proxima_regular', sans-serif;
  color: #222B3A;
}

.header-menu-item:hover {
  border-bottom: 2px solid #FC880D;
}

.header-authent {
  display: block;
  margin-left: 4.3%;
  width: 100px;
}

.header-authent img {
  max-width: 12px;
  float: left;
  margin-top: 1.25em;
  margin-right: 5px;
}

.header-menu-item-authent {
  display: block;
  height: 44px;
  float: left;
  padding-top: 18px;
  text-decoration: none;
  margin: 0 3%;
  font: 600 16px  'proxima_regular', sans-serif;
  color: #222B3A;
}

.header_mobile_menu {
  display: none;
}

/************BANNER**************/
.banner {
  height: 513px;
  background-color: #296DCE;
  position: relative;
  overflow: hidden;
}

.banner-extraleyer1 {
  max-width: 96.34%;
  height: 462px;
  transform: rotate(13.96deg);
  background-color: rgba(255, 255, 255, 0.07);
  position: relative;
  top: -58%;
  left: 10%;
}

.banner-extraleyer2 {
  width: 140.63%;
  height: 462px;
  transform: rotate(-21deg);
  background-color: rgba(255, 255, 255, 0.07);
  position: absolute;
  top: 634px;
  left: -93%;
}

.banner-container {
  max-width: 1100px;
  margin: 0 auto;
  z-index: 2;
}

.banner-sitename {
  width: 40%;
  height: 36%;
  padding: 0 10px;
  position: absolute;
  top: 12%;
}

.banner-sitename h1 {
  color: #FFFFFF;
  font: 600 2.2em  Intro, sans-serif;
  line-height: 1.4em;
  text-align: left;
}

.banner-sitename h1 span {
  color: #FC880D;
  font: 600 0.7em  Intro, sans-serif;
  line-height: 0.6em;
}

.banner-more-info {
  width: 209px;
  height: 44px;
  border: 1px solid #FFFFFF;
}

.banner-more-info a {
  display: block;
  padding: 2.4em auto;
  text-align: center;
  font: 400 16px  'proxima_regular', sans-serif;
  line-height: 2.4em;
  color: #FFFFFF;
  text-decoration: none;
}

.baner-indicator {
  width: 90%;
  height: 9%;
  margin-top: 12%;
  /*height: 45px;
  margin-top: 72px;*/
}

.banner-indicator-lightbox {
  width: 100%;
  height: 15px;
  border: 2px solid #F3F3F3;
  border-radius: 3px;
}

.banner-indicator-lightbox-done {
  width: 45.3%;
  float: right;
  height: 17px;
  border-radius: 0 3px 3px 0;
  background-color: #F3F3F3;
}

.banner-indicator-text {
  width: 29.25%;
  height: 45px;
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.banner-indicator-all-number {
  text-align: left;
  font: 600 38px  'proxima_regular', sans-serif;
  line-height: 1.1em;
  color: #F3F3F3;
  padding-right: 9px;
}

.banner-indicator-all-text {
  text-align: left;
  font: 400 14px  'proxima_regular', sans-serif;
  line-height: 1.1em;
  color: #F3F3F3;
  padding-right: 100%;
  padding-top: 5px;
}

.banner-indicator-done-number {
  text-align: left;
  font: 600 38px  'proxima_regular', sans-serif;
  line-height: 1.1em;
  color: #F3F3F3;
  padding-right: 9px;
}

.banner-indicator-done-text {
  font: 400 14px  'proxima_regular', sans-serif;
  line-height: 1.1em;
  color: #F3F3F3;
  padding-top: 5px;
}

.banner-photo {
  display: block;
  position: absolute;
  bottom: -4px;
  right: 21%;
}

/**************CONTENT*************/
/*************breadcrumbs*********/
.breadcrumbs {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 14px;
  height: 20px;
  z-index: 3;
}

.breadcrumbs-container {
  width: 24%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 3;
}

.breadcrumbs a {
  text-decoration: none;
  z-index: 3;
  font: 600 16px  'proxima_regular', sans-serif;
  color: #979FAD;
}

.breadcrumbs-list {
  color: #323232;
  z-index: 3;
}

.breadcrumbs-list a {
  color: #323232;
  z-index: 3;
}

.breadcrumbs2 {
  /*z-index: 3;*/
  height: 99px;
  padding: 0 7.5%;
  background-color: #FAFAFA;
  margin-top: 16px;
}

.breadcrumbs2-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumbs-coursestheme {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font: 600 18px  'proxima_regular', sans-serif;
  color: #222B3A;
}

.breadcrumbs-coursestheme-text {
  width: 110px;
}

.breadcrumbs-coursestheme-age {
  width: 227px;
  height: 14px;
  border: 2px solid #FF8A00;
  text-align: left;
  padding: 15px 20px 20px 5px;
  border-radius: 3px;
  font: 600 14px  'proxima_regular', sans-serif;
  color: #FF8A00;
  display: flex;
  justify-content: space-between;
  margin: 1.5em 4em 0 0;
}

.breadcrumbs-coursestheme-age-choice {
  width: 80%;
}

.breadcrumbs-coursestheme-age-arrow {
  width: 0;
  height: 0;
  float: right;
  border: 9px solid transparent;
  border-top: 9px solid #FF8A00;
  margin-top: 5px;
}

/************************articles***********************/
.content-container {
  max-width: 1100px;
  margin: 0 auto;
}

.article {
  min-height: 203px;
  margin: 19px 7.5% 0 7.5%;
  padding-top: 20px;
  background-color: #FFFFFF;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.article-first {
  margin-top: 53px;
}

.article-number {
  width: 80px;
  min-height: 203px;
  font: 600 4em  'proxima_regular', sans-serif;
  /*line-height: 1.7em;*/
  color: #E1E1E1;
  margin-top: -5px;
  margin-left: 10px;
  float: left;
}

.article-content {
  margin: 0 17% 0 18px;
}

.article-header {
  font: 600 24px  'proxima_regular', sans-serif;
  color: #1092CB;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.article-age {
  font: 400 16px  'proxima_regular', sans-serif;
  color: #979FAD;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
}

.article-age-baby-icon {
  margin-right: 5px;
}

.article-citate {
  font: 400 16px  'proxima_regular', sans-serif;
  line-height: 1.7em;
  color: #696969;
}

.article-availabledate {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.article-availabledate-text {
  font: 600 16px  'proxima_regular', sans-serif;
  color: #696969;
  margin-right: 10px;
}

.article-availabledate-date {
  font: 400 16px  'proxima_regular', sans-serif;
  color: #FF8A00;
}

.article-indicator {
  width: 9px;
  height: 121px;
  float: right;
  margin: 8px 3.8% 0 1%;
  padding-right: 5px;
}

.article-indicator-text {
  font: 600 14px  'proxima_regular', sans-serif;
  color: #323232;
}

.article-indicator-lightbox {
  width: 9px;
  height: 121px;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #F3F3F3;
  margin-left: 5px;
}

.article-indicator-lightbox-done {
  width: 8px;
  height: 87px;
  margin-top: 34px;
  border-radius: 0 3px 3px 0;
  background-image: linear-gradient(90deg, #0099DD 0%, #178EC2 100%);
}

/*************FOOTER MENU**************/
.footermenu {
  margin-top: 76px;
  background-color: #0099DD;
  padding: 2.5em 0;
}

.footermenu-blocks {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footermenu-block {
  margin-right: 10px;
}

.footermenu-block-header {
  font: 600 24px  'proxima_regular', sans-serif;
  color: #FFFFFF;
}

.footermenu-block-underline {
  font: 600 20px  'proxima_regular', sans-serif;
  color: #FFFFFF;
}

.footermenu-block-menu ul li {
  list-style: none;
  font: 400 16px  'proxima_regular', sans-serif;
  color: #FFFFFF;
  line-height: 1.6;
  margin-left: -45px;
  padding: 5px;
}

.footermenu-block-menu ul li:hover {
  transform: translate(5px, 0);
}

.footermenu-block-menu ul li a {
  text-decoration: none;
  font: 400 16px  'proxima_regular', sans-serif;
  color: #FFFFFF;
  line-height: 1.6;
}

/*footer*/
.footer {
  display: block;
  width: 100%;
  height: 47px;
  background-color: #222B3A;
}

@media screen and (max-width: 375px) {
  .header_mobile_menu {
    display: block;
    font-size: 32px;
    padding: 12px;
    margin-right: 8px;
  }

  .header_mobile_menu a {
    color: #222B3A;
  }

  .header-authent {
    display: none;
  }

  .header-menu {
    display: none;
  }

  .banner-photo {
    display: none;
  }

  .banner-more-info {
    cursor: pointer;
  }

  .banner-indicator-done-text {
    width: 100%;
  }

  .banner-sitename {
    font-size: 16px;
    line-height: 12px;
  }

  .banner-sitename span {
    font-size: 12px;
    line-height: 12px;
  }

  .banner-indicator {
    width: 100%;
  }

  .banner-indicator-lightbox {
    width: 100%;
  }

  .banner-indicator-done-text {
    width: 100%;
  }

  .breadcrumbs-container {
    width: 100%;
    padding-right: 5px;
  }

  .breadcrumbs-coursestheme {
    width: 100%;
    padding-right: 5px;
  }

  .breadcrumbs-coursestheme-age {
    width: 100%;
    float: left;
    padding-right: 5px;
    /*height: 2.8em;*/
  }

  .breadcrumbs2-container {
    display: block;
  }

  .footermenu-block {
    display: none;
  }

  .footermenu-block-contacts {
    display: block;
    padding-left: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
