$cfon1 : #296DCE;
$cfon2 : rgba(255, 255, 255, 0.07);
$cfon3 : #0099DD;
$cfon4 : #178EC2;
$cfon5 : #E5E5E5;
$cfon6 : #F3F3F3;
$cfon7 : #FAFAFA;
$cfon8 : rgba(0, 0, 0, 0.03);
$cfon9 : linear-gradient(90deg, #0099DD 0%, #178EC2 100%);
$cfon10 : #FFA43F;
$cfon11 : rgb(98, 199, 225);
$cfon12 : #DADADA;
$cfon13 : #DFDADA;
$cfon14 : rgba(0, 0, 0, 0.24);
$cfon15 : rgba(0, 0, 0, 0.12);

$cfont1 : #FF8A00;
$cfont2 : #FC880D;
$cfont3 : #1092CB;
$cfont4 : #FFFFFF;
$cfont5 : #222B3A;
$cfont6 : #979FAD;
$cfont7 : #323232;
$cfont8 : #E1E1E1;
$cfont9 : #696969;
$font10 : #027EB4;

